.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #6c7aa7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #2d178f}
  
  .button:active {
    background-color: #000266;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }